.d_space {width: 100%; height: 95px;}
.d_decription {width: 100%; text-align: center;}

.d_decription2 {text-align: left; font-size: 34px; color: #666; padding: 0 100px; font-family: HelveticaNeue-Light;}
.d_decription p{color: #0057b9; font-size: 48px; margin: 20px 0 30px 0; font-family: HelveticaNeue-Medium;}
.d_decription span{display: block; vertical-align: top; margin: 0 auto; width: 1455px; font-family: HelveticaNeue-Light; line-height: 38px;}
.d_decription div{text-align: center; margin-top: 70px;}
.d_sertificat, .d_discount {display: inline-block; vertical-align: top; margin: 0 30px; font-size: 34px; position: relative; margin-left: 80px;}
.d_sertificat {border-bottom: 2px solid #0057b9;}
.d_sertificat:hover, .d_discount:hover {border-bottom: 2px solid #ffa200; color: #ffa200;}
.d_sertificat:before {background: url(../img/link-image1.png) no-repeat; width: 80px; height: 60px; content: ''; display: inline-block; position: absolute; top: 0; left: -80px;}
.d_discount {color: #ff7e00; border-bottom: 2px solid #ff7e00;}
.d_discount:before {background: url(../img/link-image2.png) no-repeat; width: 80px; height: 60px; content: ''; display: inline-block; position: absolute; top: 0; left: -80px;}

.d_catalog {margin: 80px 0;}
.d_product {display: inline-block; vertical-align: top; width: 625px; text-align: center; margin-bottom: 100px;}
.d_product a, .d_product a:hover {border-bottom: none !important;}

.d_greysmall {color:#666; font-size: 24px; margin-bottom: 10px!important;}


.d_product .d_one {display: inline-block; text-align: left; margin: 0 auto;}
.d_product .d_one a {border-bottom: 2px solid #0057b9 !important;}
.d_product .d_one a:hover {border-bottom: 2px solid #ffa200 !important; color: #ffa200;}
.d_product .d_one .d_greysmall a{color:#666; border-bottom: 2px solid #666 !important;}
.d_product .d_greysmall a:hover{text-decoration:none; border-bottom: 2px solid #ffa200 !important; color: #ffa200;}
.d_one li{margin-bottom: 20px;}

.d_title-line { height: 80px; margin: 50px 0 110px 0; border-bottom: 1px solid #a8a8a8; text-align: center; }
.d_title-line span { display: inline-block; padding: 0 160px; background: white; font-family: HelveticaNeue-Medium, Arial; font-size: 60px; line-height: 70px;}

.d_crumbs, .d_crumbs2 {color: #999; font-size: 24px; padding-left: 100px;}
.d_crumbs2 {padding-left: 825px;}
.d_crumbs a, .d_crumbs2 a{color: #999; border-bottom: 2px solid #999;}
.d_crumbs a:hover, .d_crumbs2 a:hover{border-bottom: 2px solid #ffa200; color: #ffa200;}

/*----------------------------------------------НАЧАЛО ТАБЫ---------------------------------------*/
.d_tabs {margin: 50px auto; width: 2458px;}
.domtab {display: block;}
div.domtab{
	padding:0em;
	width:100%;
	font-size:90%;
	margin: 0 auto;
}
ul.domtabs{
	float:left;
	margin:2em 0px 0px 0px;
	text-align:center;

}
ul.domtabs li{
	float:left;
	padding:0;
	margin: 0px;
}
ul.domtabs a:link,
ul.domtabs a:visited,
ul.domtabs a:active,
ul.domtabs a:hover{
	display:block;
	color:#000;
	font-size: 36px;	
	padding: 30px 100px;
	width: 300px;
}

ul.domtabs a span {border-bottom: 2px solid #000;}

ul.domtabs a:hover{
	text-decoration: none;
}
ul.domtabs a:hover span{
    border-bottom: 2px solid #ffa200;
    color: #ffa200;
}
div.domtab div{
	clear:both;
	width:auto;
	color:#fff;
	padding: 0;
}

.d_activetab {color: #0057b9!important; font-size: 48px; font-weight: bold; background: #e7e7e7;}
.d_activetab span {border-bottom:  none !important;}
.d_sort {height: 100px; background: #e7e7e7; display: block; padding: 60px 0 0 100px; font-size: 36px; color: #666;}


/*============================ СТИЛИ для Селекта Selectric=================================*/

.selectricWrapper {
  position: relative;
  margin: 0 0 10px;
  width: 500px;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  margin: 0 30px 0 0;
}

.selectricResponsive {
  width: 100%;
}

.selectric {
  border: 2px solid #999999;
  background: #fff;
  position: relative;
  border-radius: 5px;
  height:62px;
  width: 500px!important;
  margin-top: -7px;
}

.selectric .label {
  display: block;
  white-space: nowrap;
  *overflow: hidden;
  margin: 0 30px 0 0;
  padding: 21px 0 0 15px;
  font-size: 33px;
  line-height: 18px;
  color: #444;
  min-height: 18px;
}

.selectric .button {
  display: block;
  position: absolute;
  right: 10px;
  top: 7px;
  width: 70px;
  height: 38px;
  color: #595959!important;
  text-align: center;
  font: 0/0 a;
  background: url(../img/select-arrow.jpg) no-repeat 0 5px;
  /* IE Fix */
  *font: 20px/30px Lucida Sans Unicode, Arial Unicode MS, Arial;
}

.selectric .button:after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 0;
  height: 0;
}

.selectricHover .selectric {
  border-color: #CCC;
}

.selectricHover .selectric .button {
  color: #888;
}

.selectricHover .selectric .button:after {
  border-top-color: #888;
}

.selectricOpen {
  z-index: 9999;
}

.selectricOpen .selectric {
  border-color: #CCC;
  background: #fff;
  z-index: 9999;
}

.selectricOpen .selectricItems {
  display: block;
}

.selectricDisabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.selectricHideSelect {
  position: relative;
  overflow: hidden;
  width: 0;
  height: 0;
}

.selectricHideSelect select {
  position: absolute;
  left: -100%;
  display: none;

}

.selectricInput {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  outline: none !important;
  border: none !important;
  background: none !important;
}

.selectricTempShow {
  position: absolute !important;
  visibility: hidden !important;
  display: block !important;
}

/* Items box */

.selectricItems {
  display: none;
  position: absolute;
  overflow: auto;
  top: 100%;
  left: 0;
  background: #fff;
  border: 1px solid #9d9d9d;
  z-index: 9998;
  -webkit-box-shadow: 0 0 10px -6px;
  box-shadow: 0 0 10px -6px;
}

.selectricItems ul,
.selectricItems li {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 32px;
  line-height: 35px;
  min-height: 20px;
}

.selectricItems li {
  display: block;
  padding: 10px 0 10px 15px;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #EEE;
  color: #666;
  cursor: pointer;
}

.selectricItems li.selected {
  color: #444;
  background: #F9F9F9;
}

.selectricItems li:hover {
  background: #F9F9F9;
  color: #444;
}

.selectricItems li.disabled {
  background: #F5F5F5;
  color: #BBB;
  border-top-color: #FAFAFA;
  cursor: default;
}
/*============================ КОНЕЦ СТИЛИ для Селекта Selectric=================================*/

.d_tabproducts {margin-top: 50px; margin: 0 auto; text-align: center;}
.d_tabproducts .product { /*padding: 0px 10px; text-align: center; display: inline-block; vertical-align: top; margin-bottom: 100px; width: 500px; margin: 50px 20px;*/
 width: 580px; padding: 80px 0; white-space: normal; display: inline-block; vertical-align:top; margin-left: -8px;}
.d_tabproducts .product .product__pic { margin-bottom: 30px; font-size: 0; }
.d_tabproducts .product .product__pic img { max-width: 100%; }
.d_tabproducts .product .product__title { margin-bottom: 5px;  color: black; font-size: bold; font-size: 32px; padding: 0 30px;}
.d_tabproducts .product .product__code { margin-bottom: 15px; font-family: "HelveticaNeue-Light", Arial, sans-serif; color: black;}
.d_tabproducts .product .product__details { font-size: 0; }
.d_tabproducts .product .product__price, .product .product__buy { vertical-align: middle; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;  text-align: center;}
.d_tabproducts .product .product__price { font-family: "HelveticaNeue-Medium", Arial; font-size: 48px; color: black;}


/*----------------------------------------------КОНЕЦ ТАБЫ---------------------------------------*/

.d_textwrapper{width: 1505px; margin: 0 auto; background: url(../img/parag.png) no-repeat; padding-left: 300px;}
.d_textwrapper h1{color: #0057b9; margin-bottom: 80px; font-size: 72px; font-family: HelveticaNeue-Medium; -webkit-font-smoothing: antialiased; font-weight: normal;}
.d_textwrapper h2{color: #0057b9; font-size: 48px; -webkit-font-smoothing: antialiased;}
.d_content {margin: 25px 0 0 55px;}
.d_content li {margin: 10px 0;}
.d_content li a{font-size: 36px; -webkit-font-smoothing: antialiased; border-bottom: 2px solid #0057b9;}
.d_content li a:hover{border-bottom: 2px solid #ffa200; color: #ffa200;}
.d_text {width: 1805px; margin: 150px auto 255px;} 
.d_text h1{font-size: 60px; font-family: HelveticaNeue-Medium; -webkit-font-smoothing: antialiased; font-weight: normal;}
.d_preview {margin: 105px 0;} 

.d_forimg, .d_fotext, .d_fotext, .d_preview h2, .d_preview span{display: inline-block; vertical-align: top;} 
.d_forimg{margin: 15px 100px 0 0; float: left;} 
.d_fotext {margin-left: 30px;
    width: 1380px;}
.d_fotext span{font-size: 28px; line-height: 48px; -webkit-font-smoothing: antialiased; font-family: HelveticaNeue-Light;}	
.d_preview h2{ margin-bottom: 50px; font-size: 36px;} 
.d_preview h2 a{color: black; -webkit-font-smoothing: antialiased; border-bottom: 2px solid #000;}
.d_preview h2 a:hover {border-bottom: 2px solid #ffa200; color: #ffa200;} 

.d_titles {padding: 0px 400px 0 830px; margin: 90px 0 70px;}
.d_titles h1{font-size: 60px; font-family: HelveticaNeue-Medium; -webkit-font-smoothing: antialiased; font-weight: normal;}
.d_titles h2{margin: 30px 0 40px 0; font-size: 36px; -webkit-font-smoothing: antialiased}
.d_titles p{font-size: 36px; font-family: HelveticaNeue-Light; -webkit-font-smoothing: antialiased; line-height: 42px;}

.d_textwrapper2{width: 2050px; margin: 110px auto 150px;}
.d_textwrapper2 div{display: inline-block; vertical-align: top; -webkit-font-smoothing: antialiased; font-family: HelveticaNeue-Light;}
.d_textimg {width: 570px;}
.d_textimg div{width: 450px; font-size: 21px; font-style: italic; padding-top: 40px; color: #666666; line-height: 36px; font-family: HelveticaNeue-Light;}
.d_textimg div a{color: #666; border-bottom: 2px solid #666;}
.d_textimg div a:hover{border-bottom: 2px solid #ffa200; color: #ffa200;}

.d_article {width: 1400px; font-size: 28px; line-height: 48px;}

.d_emptyspace {height: 200px;}

.d_reg-bg {width: 100%; height: 2512px; background: url(../img/reg-bg.jpg) no-repeat bottom;  text-align: center;}
.d_regtext {width: 100%;}
.d_regtext div{width: 1140px; display: inline-block; vertical-align: top;}
.d_regbox1 {background: url(../img/regbox1.png) no-repeat center top; padding: 215px 30px 0;}
.d_regbox1 p{color: #3bb254; font-size: 48px; font-family: HelveticaNeue-Medium;}
.d_regbox1 ul, .d_regbox2 ul{text-align: left; margin-top: 40px;}
.d_regbox1 ul li, .d_regbox2 ul li{margin: 20px; font-size: 32px; list-style: inside url(../img/regli.png);}
.d_regbox1 ul li a{color: #3bb254; font-weight: bold; text-decoration: none;}
.d_regbox2 {background: url(../img/regbox2.png) no-repeat center top;  padding: 215px 30px 0;}
.d_regbox2 p{color: #0057b9; font-size: 48px; font-family: HelveticaNeue-Medium;}

.d_regtabs {width: 1490px; margin: 125px auto 0; text-align: center;}
.d_pushone, .d_pushtwo {display: inline-block; vertical-align: top; width: 735px; height: 262px; color: black; font-size: 48px; text-align: left;}
.d_pushone span, .d_pushtwo span {border-bottom: 2px solid #000;}
.d_pushone:hover span, .d_pushtwo:hover span {border-bottom: none;}

.d_pushone {background: url(../img/chel-green.png) no-repeat 140px 50px; padding-left: 240px;}
.d_green {background: #e7fcec url(../img/chel-green.png) no-repeat 140px 50px; text-decoration: none;}
.d_pushone:hover {background: #e7fcec url(../img/chel-green.png) no-repeat 140px 50px; text-decoration: none;}
.d_pushtwo {background: url(../img/chel-blue.png) no-repeat 100px 50px; padding-left: 290px; margin-left: -10px;}
.d_blue {background: #d9eafc url(../img/chel-blue.png) no-repeat 100px 50px; text-decoration: none;}
.d_pushtwo:hover {background: #d9eafc url(../img/chel-blue.png) no-repeat 100px 50px; text-decoration: none;}
.d_box1, .d_box2 {width: 1468px; margin: 0 auto;  display: none;}
.d_box1 {background: #e7fcec; text-align: center; padding: 70px 0;}
.d_box1 span{color: #333; font-size: 39px; display: block; margin-bottom: 60px;}
.d_box1 input[type=text]{border: 2px solid #a4a5a4; width: 846px; height: 100px; padding-left: 50px; margin-bottom: 45px; font-size: 47px;}
.d_box1 input[type=text]:focus {border: 2px solid #16a433 ;}
::-webkit-input-placeholder {font-style: italic; font-family: HelveticaNeue-Light; color: #999;}
::-moz-placeholder          {font-style: italic; font-family: HelveticaNeue-Light;}/* Firefox 19+ */
::-moz-placeholder           {font-style: italic; font-family: HelveticaNeue-Light;}/* Firefox 18- */
::-ms-input-placeholder      {font-style: italic; font-family: HelveticaNeue-Light;}
.d_box1 select {display: inline-block; vertical-align: top; margin: 0 auto;  width: 900px; height: 102px; font-size: 47px; padding: 20px 20px 20px 50px; cursor: pointer; font-style: italic; font-family: HelveticaNeue-Light; color: #999; border: 2px solid #a4a5a4;}
.d_box1 select option{font-size: 47px; padding: 20px 20px 20px 50px; font-style: normal; cursor: pointer; color: black;}
.d_box1 button {color: white; font-size: 48px; width: 646px; height: 117px; background: #16a433; margin-top: 100px;}
.d_box1 input[type="submit"], .d_box2 input[type="submit"] {margin-top: 100px; float: left; margin-left: 410px;}

.d_box1 div {text-align: right; padding-right: 160px;}
.d_box1 label {font-size: 48px; display: inline-block; vertical-align: top; line-height: 50px; padding-right: 40px;}
.d_padtop {padding-top: 25px;}
.d_short {width: 500px!important;}
.d_forshort {padding-right: 505px!important;}

.d_box2 {background: #d9eafc; text-align: center; padding: 70px 0;}
.d_box2 span{color: #333; font-size: 39px; display: block; margin-bottom: 60px;}
.d_box2 input[type=text]{border: 2px solid #a4a5a4; width: 846px; height: 100px; padding-left: 50px; margin-bottom: 45px; font-size: 47px;}
.d_box2 input[type=text]:focus {border: 2px solid #0057b9 ;}
.d_box2 select {display: inline-block; vertical-align: top; margin: 0 auto 50px;  width: 900px; height: 102px; font-size: 47px; padding: 20px 20px 20px 50px; cursor: pointer; font-style: italic; font-family: HelveticaNeue-Light; color: #999; border: 2px solid #a4a5a4;}
.d_box2 select option{font-size: 47px; padding: 20px 20px 20px 50px; font-style: normal; cursor: pointer; color: black;}
.d_box2 button {color: white; font-size: 48px; width: 646px; height: 117px; background: #0057b9; margin-top: 80px;}
.d_box2 div {text-align: right; padding-right: 160px;}
.d_box2 label {font-size: 48px; display: inline-block; vertical-align: top; line-height: 50px; padding-right: 40px;}
.d_files {height: 100px; background: url(../img/skrepka.png) no-repeat 270px 0;  padding-left: 400px;}
.d_filewrap {width: 784px; height: 115px; background: url(../img/addfiles.png) no-repeat;}
.d_box2 input[type=file]{width: 784px; height: 115px; opacity: 0; cursor: pointer; margin:0; 
/* фикс = чтобы работало в ИЕ надо указать большой размер шрифта и фильтр*/ filter:alpha(opacity:0); font-size:199px;}

.form-error {border: 2px solid red !important;}