.clearfix:before, .clearfix:after {
    content: "";
    display: table;
    line-height: 0;
}
.clearfix:after {
    clear: both;
}
.fr {
    float: right;
}


.btn.btn_middle { padding: 0 20px; line-height: 68px; font-size: 30px; }
.btn.btn_mini { padding: 0 10px; line-height: 40px; font-size: 24px; }
.btn.btn_big {line-height: 86px; padding: 0 20px;}
.btn.btn_silver { background: #999999; font-weight: normal;}
.btn.btn_blue { background: #2982e6; font-weight: normal;}



.product-detail, .cabinet, .recycle-page {
    margin: 0 95px;
}
.product-detail__text {
    margin-bottom: 190px;
}
.product-detail {
    margin-top: 30px;
}
.product-detail__art {
    color: #999999;
}
.product-detail__head {
    margin-bottom: 60px;
}
.product-detail__head a {
    border-bottom: 2px solid #0057b9;
}
.product-detail__head a:hover {
    border-bottom: none;
}
.product-detail__lhead {
    float: left;
    width: 1500px;
}
.product-detail__rhead {
    font-family: "HelveticaNeue-Light";
    font-size: 28px;
    color: #666666;
    font-weight: bold;
}
.product-detail__image {
    position: relative;
    cursor: pointer;
    width: 592px;
    height: 444px;
    margin-bottom: 10px;
}
.product-detail__pics a {
    display: inline-block;
} 
.product-detail__pics .selected img {
    border: 1px solid red;
    box-sizing: border-box;
}
.product-detail__pics img {
    vertical-align: top;
}
.product-detail__pics ul {
    margin-left: -13px;    
}
.product-detail__pics li {
    float: left;
    margin-left: 13px;
}
.product-detail__pics li img {
    width: 138px;
    height: 108px;    
}
.product-detail__image img {
    max-width: 592px;
    max-height: 444px;
}
.product-detail__image:after {    
    background: url('../img/icons-sb72f7dbf1b.png') -100px -1160px no-repeat;
    width: 67px;
    height: 68px;
    content: "";
    display: block;
    position: absolute;
    bottom: 30px;
    right: 30px;
}
.product-detail_rhead_bottom {
    font-weight: normal;
}
.product-detail__left {
    width: 592px;
    float: left;
}
.product-detail__right {
    margin-left: 742px;
}
.product-detail__ltitle {
    font-size: 48px;
    margin-top: 60px;
    margin-bottom: 80px;
    line-height: 42px;
}
.product-detail__body h3 {
    font-family: "HelveticaNeue-Light";
    font-size: 36px;        
    font-weight: normal;
}
.product-detail__body h2 {
    font-size: 36px;
    margin-bottom: 60px;
}
.product-detail__cost {
    color: #0057b9;
    font-weight: bold;
    font-size: 68px;
    line-height: 86px;
    height: 86px;
    margin-top: 60px;
    margin-bottom: 50px;
}
.product-detail__cost a, .product-detail__cost span {
    vertical-align: middle;    
}
.product-detail .callback__pic {
    background: url('../img/icons-sb72f7dbf1b.png') 0 -1387px no-repeat; width: 43px; height: 43px;
    display: inline-block;
    vertical-align: middle;    
    margin-right: 20px;
}

.product-detail__cost_after {
    font-style: italic;
    margin-bottom: 30px;
    font-family: "HelveticaNeue-Light";
}
.product-detail__cost_after a {
    color: #333333;    
    border-bottom: 2px solid #333333;
}
.product-detail__cost_after a:hover {
    border-bottom: 2px solid #ffa200;
    color: #ffa200;
}
.product-detail__cost_after span {
    color: #19b000;
    font-weight: bold;    
}
.product-detail__exist {
    font-size: 36px;    
}
.product-detail__notexist {
    font-style: italic;
    font-size: 24px;
    color: #666666;
    margin-top: 10px;
    font-family: "HelveticaNeue-Light";
    margin-bottom: 180px;
}
.product-detail__notexist a {
    color: #666666;
    border-bottom: 2px solid #666666;
}
.product-detail__notexist a:hover {
    border-bottom: 2px solid #ffa200;
    color: #ffa200;
}
/*.product-detail__currency {
    position: relative;
    margin-right: 50px;
    z-index: 1;
}
*/
.product-detail__currency { background: url('../img/icons-sb72f7dbf1b.png') -400px -60px no-repeat; width: 49px; height: 54px; display: inline-block;margin-right: 50px;}
/*.product-detail__currency:after {
    display: block;
    width: 5px;
    height: 0;
    border: 3px solid #0057B9;
    content: "";
    position: absolute;
    right: 20px;
    top: 55%;
}*/



.product-detail .question__pic {    
    background: url('../img/icons-sb72f7dbf1b.png') -100px -1100px no-repeat;
    width: 55px;
    height: 59px;
    display: inline-block;
    float: left;
    margin: 10px 20px 0 0;
}


.cabinet {
    margin-bottom: 100px;
}
.cabinet__title {
    color: #ff7e00;
    font-size: 60px;
    margin-top: 100px;
    margin-bottom: 70px;
}
.cabinet__title {
    font-size: 48px;
}

.cabinet__left {
    float: left;
    width: 475px;
    background-color: #efefef;
    padding: 50px 40px 50px 50px;
    box-sizing: border-box;
    margin-bottom: 50px;
}
.cabinet__left_title {
    font-size: 36px;
    font-family: "HelveticaNeue-Bold";
    color: #0057b9;
}
.cabinet__left_mtitle {
    font-weight: bold;
    margin-top: 50px;
}
.cabinet__right {
    margin-left: 615px;
    overflow: hidden;
}
.cabinet__skype {
    line-height: 43px;    
    color: #00aaf1;
    margin-top: 50px;    
}
.cabinet__skype .skype__pic {
    background: url('../img/icons-sb72f7dbf1b.png') 0 -1145px no-repeat; width: 43px; height: 43px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
}
.cabinet__call {
    position: relative;
    margin-top: 50px;    
}
.cabinet__call a {
    border-bottom: none;
}
.cabinet__call span {
    border-bottom: 2px solid #0057b9;
}
.cabinet__call span:hover {
    border-bottom: 2px solid #ffa200;
    color: #ffa200;
}
.cabinet__call a:hover {
    border-bottom: none !important;
}

.cabinet__table, .cabinet__table a {
    color: #333333;    
}
.cabinet__table a {
    border-bottom: 2px solid #333333;
}
.cabinet__table a:hover {
    border-bottom: 2px solid #ffa200;
    color: #ffa200;
}
.cabinet__table th {
    background: #f4f4f4;
    text-align: left;
}
.cabinet__table_bold {
    font-weight: bold;
}
.cabinet__table_bold a {
    font-weight: normal;
}
.green {
    color: green;
}
.red {
    color: red;
}
.cabinet__table th, .cabinet__table td {
    padding: 30px 60px;
    box-sizing: border-box;
}
.cabinet__call .callback__pic {
    background: url('../img/icons-sb72f7dbf1b.png') 0 -1387px no-repeat; width: 43px; height: 43px;
    display: inline-block;
    vertical-align: middle;    
    position: absolute;
    top: 0;
    left: 0;
}

.cabinet__call a {
    margin-left: 73px;
    display: inline-block;
    line-height: 32px;
} 
.cabinet-user__left {
    float: left;
}
.cabinet-user__right {
    width: 1425px;
    float: right;    
}
.cabinet__head {
    margin-bottom: 50px;
}
.cabinet__head .cabinet__data {
    margin-right: 50px;
}
.cabinet-user__block {
    float: left; width: 50%;
    box-sizing: border-box;
    padding-right: 150px;
}
.cabinet-user__block_title {
    font-weight: bold;
    margin: 30px 0;
}
.cabiten__dialog {
    position: relative;
}
.cabinet__edit {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    background: #f4f4f4;
    border: 1px solid #b9b9b9;
    padding: 30px;
    /*zoom:50%;*/
    z-index: 100;
}
.cabinet__edit input {
    border: 1px solid #b9b9b9;
    height: 60px;
    font-size: 36px;
    width: 500px;
    padding: 0 20px;
}
.cabinet__edit select {
    padding: 10px 25px;
    font-size: 36px;    
    width: 500px;    
}
.cabinet__edit input.error {
    border: 1px solid red;
}
.cabinet__edit input[type="submit"] {
    width: auto;
    margin-top: 20px;
    background: #04AB00;
    height: 60px;
    font-size: 30px;    
    color: #fff;
    border: none;
}
.cabinet__edit button {    
    margin-top: 20px;
    background: #999999;
    color: #fff;    
    height: 60px;
    font-size: 30px;
    padding: 0 20px;        
}
.cabinet-user__left {
    text-align: center;
}
.cabinet-user__left .btn__edit {
    font-style: normal;
}
.cabinet__name {
    font-size: 48px;
    margin-right: 50px;
}
.btn__edit, .cabinet-user__right a {
    color: #666666;
    font-family: HelveticaNeue-Light;
    font-style: italic;
    font-size: 24px;
    border-bottom: 2px solid #666666;
}
.btn__edit:hover, .cabinet-user__right a:hover {
    border-bottom: 2px solid #ffa200;
    color: #ffa200;
}
.recycle-title {
    font-size: 60px;
    margin-top: 100px;
    margin-bottom: 70px;
    line-height: 91px;
}
.recycle-pic {
    background: url('../img/icons-sb72f7dbf1b.png') -100px -1228px no-repeat;    
    width: 113px;
    height: 91px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
}
.recycle-page {
    margin-bottom: 90px;
}
.recycle-page__name > {
    padding: 0 60px 0 150px;
}
.recycle-page__name > div {
    margin: 45px 60px 45px 150px;
    position: relative;
    min-height: 110px;
    box-sizing: border-box;
}
.recycle-page__name a {
    border-bottom: 2px solid #0057b9;
    display: inline-block;
    margin-left: 185px;
    font-size: 36px;
    font-weight: bold;
}
.recycle-page__name a:hover {
    border-bottom: 2px solid #ffa200;
    color: #ffa200;
}
.recycle-page__art {
    margin-left: 185px;
    font-size: 24px;
    color: #999999;
}
.recycle-page .recycle-page__bottom {
    border-top: none;
}
.recycle-page__itogo_sum {
    color: #ff7e00;
    font-size: 48px;
}
.recycle-page__itogo {
    margin-left: 60px;
    font-weight: bold;
    font-size: 36px;
}
.recycle-page .x_tabs__links a:first-child {
    margin-left: 90px;
}
.x_tabs__links a {
    padding: 0 60px;
    line-height: 75px;
    display: inline-block;
    color: #333333;
    font-size: 36px;    
    border-bottom: none;
}
.x_tabs__links a:hover {
    border-bottom: none !important;
}
.x_tabs__links a.selected {
    background: #f4f4f4;    
    text-decoration: none;
    font-weight: bold;    
}
.x_tabs__links a.selected span {
    border-bottom: none;
}
.x_tabs__links a > span:hover {
    border-bottom: 2px solid #ffa200;
    color: #ffa200;
}
.x_tabs__links a.selected span:hover {
    border-bottom: none;
}
.x_tabs__links a > span {
    border-bottom: 2px solid #333333;    
}

.recycle-page .x_tabs__links a.selected {
    background: #e7e7e7;
}
.x_tabs__item {
    display: none;
}
.x_tabs__item.selected {
    display: block;
}
.recycle-page__calc {
    vertical-align: top;
    text-align: center;
    padding: 10px 0;
    margin-top: 5px;
}
.recycle-page table {
    vertical-align: top;
}
.recycle-page table th {
    text-align: left;
    background: #e7e7e7;
    padding-top: 20px;
    padding-bottom: 20px;
}
.recycle-page table td {
    vertical-align: top;
}
.recycle-page table .tac {
    text-align: center;
}
.recycle-page__nds {
    color: #999999;
    margin-bottom: 50px;
}

.recycle-page__title {
    font-size: 24px;
    color: #666666;
    text-align: center;
    height: 34px;
}
.recycle-page__sum, .recycle-page__cost {    
    font-size: 36px;
    font-weight: bold;
    box-sizing: border-box;
    padding-top: 45px;
}
.recycle-page__cost {
    padding-left: 60px;
}
.recycle-page table tbody tr {
    border-top:  1px solid #999999;
}
.recycle-page table tbody tr:first-child {
    border: none;
}
.recycle-table__name {
    padding-left: 150px;
}
.recycle-page__sum {
    color: #0057b9;
}
.recycle-page table .recycle-page__cost, .recycle-page table .recycle-page__sum {
    margin-top: 5px;
    height: 152px;
    vertical-align: middle;
}
.recycle-page table .recycle-page__cost, .btn__recycle, .recycle-page__title, .recycle-page__buttons {
    visibility: hidden;
}
.recycle-page table .active .recycle-page__cost, .recycle-page table .active .recycle-page__sum, .recycle-page table .active .recycle-page__calc, .recycle-page table .active .recycle-page__title, .recycle-page table .active .recycle-page__buttons {
    background: #fff6b3;
    visibility: visible;
}
.recycle-page table .active .recycle-page__sum {
    color: #333333;
}
.active .btn__recycle {
    visibility: visible;
}

.recycle-page__count {
    display: inline-block;
    width: 180px;
    position: relative;
    height: 50px;
    margin-bottom: 5px;
}
.recycle-page__actions {
    padding: 45px 0 0 60px;
    box-sizing: border-box;   
}
.recycle-page__actions a {
    color: #999999;
}
.recycle-page__actions_hold a {
    color: #999999;
    font-size: 28px;
}
.recycle-page__actions_hold {
    padding: 45px 0 0 60px;
    color: #999999;    
}
.link__green {
    color: #04ab00 !important;
}
.recycle-page__count .minus, .recycle-page__count .plus {
    position: absolute;    
    top: 0;
    height: 50px;
    line-height: 50px;
    background: #fff;
    box-sizing: border-box;
    border: 1px solid #e7e7e7;
    text-decoration: none;
    width: 50px;
    font-weight: bold;
    font-size: 40px;
    text-align: center;    
    color: #999999;
}
.recycle-page__count .minus {
    left: 0;
}
.recycle-page__count .plus {
    right: 0;
}
.recycle-page__count input {
    border: 1px solid #e7e7e7; 
    height: 50px;
    line-height: 50px;
    box-sizing: border-box;
    width: 180px;
    text-align: center;   
    font-size: 30px;
    color: #0057b9;
    font-weight: bold;    
}
.recycle-page__name img {
    position: absolute;
    left: 0;
    top: 0;
} 


.contacts {
    margin: 0 130px;
}
.contacts__left {
    float: left;
    width: 560px;
}
.contacts__right {
    width: 1590px;
    float: right;
    margin-top: 21px;
}
.contacts__text {
    font-family: "HelveticaNeue-Light";
    font-size: 36px;    
    margin-bottom: 60px;
}
.contacts__regions {
    font-size: 40px;
    margin-bottom: 260px;
    width: 560px;
}
.contacts__regions a {
    border-bottom: #0057b9 2px solid;
}
.contacts__regions a:hover, .contacts__regions > li.selected > ul > li a:hover {
    color: #ffa200;
    border-bottom: #ffa200 2px solid;
}
.contacts__regions > li.selected > a {
    font-family: "HelveticaNeue-Bold";
    color: #ffa200;    
    border-bottom: none;
}
.contacts__regions > li {
    padding: 21px 0;
}
.contacts__regions > li > ul {
    display: none;
}
.contacts__regions > li.selected > ul {
    display: block;
}
.contacts__regions > li.selected > ul > li {
    margin: 20px;
    padding-left: 45px;    
}
.contacts__regions > li.selected > ul > li.selected {
    position: relative;
}
.contacts__regions > li.selected > ul > li.selected a {
    border-bottom: none;
    color: #000;
    font-family: "HelveticaNeue-Bold";        
}
.contacts__regions > li.selected > ul > li.selected:before {
    background: url('../img/icons-sb72f7dbf1b.png') -400px -125px no-repeat; width: 26px; height: 45px;
    display: inline-block;
    vertical-align: middle;    
    position: absolute;
    top: 0;
    left: 0;
    content: "";
}
.contacts__regions > li.selected > ul > li a {
    color: #7f7f7f;
    font-size: 36px;
    border-bottom: #7f7f7f 2px solid;
}
.contacts__rleft {
    width: 730px;
    float: left;
}
.contacts__rright {
    width: 845px;
    float: right;
}
.contacts__rleft > div {
    position: relative;
    padding-left: 90px;
    margin-top: 70px;
    font-size: 42px;    
}
.contacts__rright > div {
    margin-bottom: 40px;
}
.contacts__rleft > div:first-child {
    margin-top: 0;
}
.contacts__loc {    
    font-family: "HelveticaNeue-Bold"; 
}

.contacts__loc .small {
    font-size: 34px;
    font-family: "HelveticaNeue-Light";
}
.contacts__loc:before {
    background: url('../img/icons-sb72f7dbf1b.png') -400px -170px no-repeat; width: 62px; height: 107px;
    display: inline-block;
    vertical-align: middle;    
    position: absolute;
    top: 0;
    left: 0;
    content: "";
}

.contacts__tel .small {
    font-size: 26px;
    color: #999999;
    font-style: italic;
    font-family: "HelveticaNeue-Light";
}
.contacts__tel:before {
    background: url('../img/icons-sb72f7dbf1b.png') -400px -282px no-repeat; width: 61px; height: 63px;
    display: inline-block;
    vertical-align: middle;    
    position: absolute;
    top: 0;
    left: 0;
    content: "";
}
.contacts__email:before {
    background: url('../img/icons-sb72f7dbf1b.png') -400px -345px no-repeat; width: 61px; height: 63px;
    display: inline-block;
    vertical-align: middle;    
    position: absolute;
    top: 0;
    left: 0;
    content: "";
}
.contacts__email a {
    color: #000;
    border-bottom: 2px solid #000;
}
.contacts__email a:hover {
    color: #ffa200;
    border-bottom: 2px solid #ffa200;
}
.contacts__rright a {
    font-size: 34px;
    font-family: "HelveticaNeue-Bold";
    padding: 10px 0 0 100px;
    position: relative;
}
.contacts__rright a:hover span {
    border-bottom: none !important;
}

.contacts__online span {
    color: #16a433;    
    border-bottom: 2px solid #16a433;
}
.contacts__online:before {
    background: url('../img/icons-sb72f7dbf1b.png') -470px 0px no-repeat; width: 61px; height: 61px;
    display: inline-block;
    vertical-align: middle;    
    position: absolute;
    top: 0;
    left: 0;
    content: "";
}
.contacts__callback span {
    border-bottom: 2px solid #0057b9;
}
.contacts__callback:before {
    background: url('../img/icons-sb72f7dbf1b.png') -470px -60px no-repeat; width: 61px; height: 61px;
    display: inline-block;
    vertical-align: middle;    
    position: absolute;
    top: 0;
    left: 0;
    content: "";
}
.contacts__skype span {
    color: #00aaf1;
    border-bottom: #00aaf1 2px solid;
}
.contacts__skype:before {
    background: url('../img/icons-sb72f7dbf1b.png') -470px -124px no-repeat; width: 61px; height: 61px;
    display: inline-block;
    vertical-align: middle;    
    position: absolute;
    top: 0;
    left: 0;
    content: "";
}
.contacts__map {
    margin: 60px 0 130px 0;
}